<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        lightgrayishcyanbackground: 'hsl(180, 52%, 96%)',
                        lightgrayishcyanfilter: 'hsl(180, 31%, 95%)',
                        darkgrayishcyan: 'hsl(180, 8%, 52%)',
                        verydarkgrayishcyan: 'hsl(180, 14%, 20%)',
                        desaturateddarkcyan: 'hsl(180, 29%, 50%)'
                    },
                    fontFamily: {
                        leaguespartan: ['League Spartan', 'sans-serif']
                    },
                    backgroundImage: {
                        'desktop-pattern': "url('./images/bg-header-desktop.svg')",
                        'mobile-pattern': "url('./images/bg-header-mobile.svg')",
                    },
                    height: {
                        "156px": "156px",
                    },
                    fontSize: {
                        "xxs": "0.85rem",
                    }
                }
            }
        }
    </script>

    <title>Frontend Mentor | Job Listings</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
        .attribution {
            font-size: 11px;
            text-align: center;
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
        }
    </style>
</head>
<body class="bg-lightgrayishcyanbackground">
<header class="bg-desaturateddarkcyan bg-mobile-pattern h-156px">
</header>


<main id="app">
    <section v-if="this.filters.length>0" class=" sm:max-w-6xl max-w-md min-w-80 justify-center mx-auto -mt-14">
        <div class="sm:px-8 rounded-lg  bg-white m-8 flex p-4 content-center">
            <div class="sm:mt-auto rounded-lg cursor-pointer mr-auto mb-auto flex-row flex flex-wrap gap-4 content-center">
                <div v-for="filter in filters"
                     class="flex flex-row bg-lightgrayishcyanfilter text-desaturateddarkcyan font-bold rounded-lg my-auto"
                     v-on:click="this.filters.splice(this.filters.indexOf(filter), 1)">
                    <div class="h-6 p-1">{{filter}}</div>
                    <img v-on:click="removeFilter(filter)" src="images/icon-remove.svg" alt="remove filter"
                         class="bg-desaturateddarkcyan hover:bg-black w-8 h-8 p-2 rounded-r-lg"/></div>
            </div>
            <div class="cursor-pointer font-bold text-darkgrayishcyan text-xs p-4 content-center my-auto"
                 v-on:click="this.filters=[]">Clear
            </div>
        </div>
    </section>

    <div class="sm:max-w-6xl max-w-md min-w-80 justify-center mx-auto ">
        <div v-for="data in filtered" class="drop-shadow-xl bg-white m-8 py-2 px-4 border-l-4 rounded-lg sm:flex-row sm:flex sm:py-4"
             v-bind:class="{'border-desaturateddarkcyan': data.featured}">
            <img :src="data.logo" alt="logo" class="w-12 h-12 relative -top-8 sm:top-auto sm:static sm:w-16 sm:h-16 sm:m-2">
            <div>
                <div class="flex -mt-6 sm:mt-0">
                    <div class="font-bold text-desaturateddarkcyan text-xs p-1">{{data.company}}</div>
                    <div v-if="data.new"
                         class="rounded-full bg-desaturateddarkcyan text-white font-bold text-xs p-1 px-2 mx-2">NEW!
                    </div>
                    <div v-if="data.featured" class="rounded-full bg-black text-white font-bold text-xs p-1 px-2">FEATURED
                    </div>
                </div>
                <h3 class="font-bold text-xs mx-1 mb-2 mt-3">{{data.position}}</h3>
                <h4 class="text-darkgrayishcyan text-xxs font-medium p-1">{{data.postedAt}} &nbsp;&#x2022;&nbsp
                    {{data.contract}} &nbsp;&#x2022;&nbsp {{data.location}}</h4>
            </div>
            <div class="sm:justify-end sm:ml-auto sm:border-t-0 border-t-2 border-solid border-darkgrayishcyan flex my-2 py-3">
                <div v-for="filter in data.tools"
                     class="sm:h-8 rounded-lg cursor-pointer border-0 bg-lightgrayishcyanfilter hover:bg-desaturateddarkcyan p-2 mx-2 font-bold text-desaturateddarkcyan hover:text-white text-xs"
                     v-on:click="this.addToFilter(filter)">{{filter}}
                </div>
                <div v-for="filter in data.languages"
                     class="sm:h-8 rounded-lg cursor-pointer border-0 bg-lightgrayishcyanfilter hover:bg-desaturateddarkcyan p-2 mx-2 font-bold text-desaturateddarkcyan hover:text-white text-xs"
                     v-on:click="this.addToFilter(filter)">{{filter}}
                </div>
            </div>
        </div>
    </div>
</main>

<script type="module">

    import json from './data.json' assert {type: "json"};

    const app = {
        data() {
            return {
                jobs: json,
                filters: []
            }
        },
        computed: {
            filtered() {
                if (this.filters.length == 0) {
                    return this.jobs
                } else {
                    return this.jobs.filter(job => {
                        let infilter = false
                        this.filters.forEach(filter => {
                            if (job.tools.includes(filter) || job.languages.includes(filter)) {
                                infilter = true
                            }
                        })
                        return infilter;
                    })
                }
            }
        },
        methods: {
            addToFilter(filter) {
                if (!this.filters.includes(filter)) {
                    this.filters.push(filter);
                }
            },
            removeFilter(filter) {
                this.filters.splice(this.filters.indexOf(filter), 1)
            }
        }
    }

    Vue.createApp(app).mount('#app');
</script>


<div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Andreas Koch</a>.
</div>
</body>
</html>